:root {
  --brand-red: #fc4747;
  --brand-black: #10141e;
  --brand-light-blue: #5a698f;
  --brand-dark-blue: #161d2f;
  --pure-white: #ffffff;

  --fz-size-32: 32px;
  --fz-size-24: 24px;
  --fz-size-18: 18px;
  --fz-size-15: 15px;
  --fz-size-13: 13px;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  background-color: var(--brand-black);
  color: var(--pure-white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
