@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");

:root {
  --brand-red: #fc4747;
  --brand-black: #10141e;
  --brand-light-blue: #5a698f;
  --brand-dark-blue: #161d2f;
  --brand-white: #ffffff;
}

body {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  background-color: var(--brand-dark-blue);
  color: var(--brand-white);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
